/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/AzureAppService.NETCore.deps.json
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/AzureAppService.NETCore.dll
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/AzureAppService.NETCore.exe
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/AzureAppService.NETCore.pdb
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/AzureAppService.NETCore.runtimeconfig.dev.json
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/AzureAppService.NETCore.runtimeconfig.json
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/appsettings.Development.json
/AzureAppService.NETCore/bin/Debug/netcoreapp3.1/appsettings.json
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/AzureAppService.NETCore.deps.json
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/AzureAppService.NETCore.dll
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/AzureAppService.NETCore.exe
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/AzureAppService.NETCore.pdb
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/AzureAppService.NETCore.runtimeconfig.dev.json
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/AzureAppService.NETCore.runtimeconfig.json
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/Properties/launchSettings.json
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/appsettings.Development.json
/AzureAppService.NETCore/bin/Release/netcoreapp3.1/appsettings.json
/AzureAppService.NETCore/obj/AzureAppService.NETCore.csproj.EntityFrameworkCore.targets
/AzureAppService.NETCore/obj/AzureAppService.NETCore.csproj.nuget.dgspec.json
/AzureAppService.NETCore/obj/AzureAppService.NETCore.csproj.nuget.g.props
/AzureAppService.NETCore/obj/AzureAppService.NETCore.csproj.nuget.g.targets
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.AssemblyInfo.cs
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.AssemblyInfoInputs.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.MvcApplicationPartsAssemblyInfo.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.RazorTargetAssemblyInfo.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.assets.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.csproj.CoreCompileInputs.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.csproj.FileListAbsolute.txt
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.csprojAssemblyReference.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.dll
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.exe
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.genruntimeconfig.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/AzureAppService.NETCore.pdb
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/staticwebassets/AzureAppService.NETCore.StaticWebAssets.Manifest.cache
/AzureAppService.NETCore/obj/Debug/netcoreapp3.1/staticwebassets/AzureAppService.NETCore.StaticWebAssets.xml
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.AssemblyInfo.cs
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.AssemblyInfoInputs.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.MvcApplicationPartsAssemblyInfo.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.RazorTargetAssemblyInfo.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.assets.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.csproj.CoreCompileInputs.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.csproj.FileListAbsolute.txt
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.csprojAssemblyReference.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.dll
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.exe
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.genruntimeconfig.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/AzureAppService.NETCore.pdb
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/AzureAppService.NETCore.Parameters.xml
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/AzureAppService.NETCore.SourceManifest.xml
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/AzureAppService.NETCore.deps.json
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/AzureAppService.NETCore.dll
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/AzureAppService.NETCore.exe
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/AzureAppService.NETCore.pdb
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/AzureAppService.NETCore.runtimeconfig.json
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.Development.json
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.json
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/PubTmp/Out/web.config
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/staticwebassets/AzureAppService.NETCore.StaticWebAssets.Manifest.cache
/AzureAppService.NETCore/obj/Release/netcoreapp3.1/staticwebassets/AzureAppService.NETCore.StaticWebAssets.xml
/AzureAppService.NETCore/obj/project.assets.json
/AzureAppService.NETCore/obj/project.nuget.cache
